<%= partial "header" %>

<%= partial "main_image" %>

<%= partial "summary" %>

<h2 class="form-header">Start your letter to the FCC:</h2>

<%= partial "form" %>

<%= partial "sunshine_period_notice" %>

