<%= partial "header" %>

<%= partial "main_image" %>

<%= partial "summary" %>

<h2 class="form-header">Start your letter to the FCC:</h2>

<%= partial "form" %>

<p class="non-us-notice">If you are located outside of the United States, please visit
the <%= link_to "FCC's website", ecfs_website_url, target: "_blank" %>, click "express," select "international," and submit your comment directly.</p>
