<%= partial "main_image" %>

<h1>Thanks!</h1>
<div class="summary">
  <p>Please share this tool on social media:</p>
  <p><%= link_to "Share on Facebook", facebook_share_url, target: "_blank" %></p>
  <p><%= link_to "Share on Twitter", twitter_share_url, target: "_blank" %></p>
  <p><%= link_to "Share on Google+", google_share_url, target: "_blank" %></p>
  <p><%= link_to "Share by E-mail", email_share_url %></p>
</div>

<p>&nbsp;</p>
